* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image:url("tesla.jpg");
}
img {
  width: 100%;
}
.heading h2{
  text-align: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.memGame {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 40rem;
  margin: 60px auto;
  
}

.memBlock {
  width: 100%;
  height: 10rem;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memBlock:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memBlock.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  background: rgba(255, 255, 255, 0.534);
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}
