#memBoard{
    background: rgb(235, 234, 234);
    border: rgb(184, 184, 184) 2px solid;
    width: 500px;
    height: 360px;
    padding: 20px;
    margin: 0px auto;
}

#memBoard > div {
    background: none;
    border: #000 1px solid;
    width: 60px;
    height: 60px;
    float: left;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    align-items: center;
}